
.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem; /* Espacio interno alrededor del .block */
  margin-top: 10%;
  width: 40%;
}

.block h1 {
  color: #CD6582;
  font-size: 50px;
    
}

.blog {
  margin-top: 2rem; /* Espacio entre el nav y el blog */
  padding: 2rem;
  background-color: rgba(248, 180, 198, 0.5); 
  border-radius: 25px; /* Bordes redondeados */
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.1); /* Sombra suave */
  align-self: flex-start; /* Alinea el blog a la izquierda */
}
  
.blog article {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border-left: 8px solid #7F5539; 
  background-color: #B19881; 
  border-radius: 10px;
  transition: all 0.3s ease;
}
  
.blog article:hover {
  transform: translateY(-5px); /* Efecto hover */
  background-color: #a78769; /* Color ligeramente más claro en hover */
  border-left: 8px solid #7c4c2b; 
}
  
.blog h3 {
  margin-top: 0;
  color: #ffffff;
  font-size: 1.5rem;
}
  
.blog p {
  font-size: 1rem;
  text-align: left; /* Texto alineado a la izquierda */
  color: #e0e0e0; /* Texto en gris claro para buena legibilidad */
  line-height: 1.6;
}
  
.cta-button {
  display: inline-block;
  padding: 0.5rem 1.5rem;;
  background-color: #CD6582;
  color: #ffffff; 
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  font-size: large;
  cursor: pointer; /*Para cambiar el icono del mouse*/
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: -0.5rem;
  /*font-weight: bold;*/
}
   
.cta-button:hover {
  background-color: #cf4d72; /* Botón más oscuro al pasar el ratón */
  transform: scale(1.05);
}