/* Navbar general */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    background-color: #9C6644;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    z-index: 100;
  }
  
  /* Estilo para el logo */
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    height: 80px; /* Ajusta el tamaño del logo según lo necesites */
  }
  
  /* Botones de registro e inicio de sesión */
  .botones {
    display: flex;
    gap: 1rem;
    margin-right: 90px;
  }
  
  .btn {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
  }

  .btn1-color {
    background-color: #CD6582;
    color: #ffffff;
  }

  .btn2-color {
    background-color: #ffffff;
  }
  
  
  /* Links de navegación */
  .pestañas {
    list-style: none;
    display: flex;
    gap: 2rem;
  }
  
  .pestañas li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: large;
  }
  
  
  