.app-content {
  min-height: 100vh;
  background-image: url('./assets/Imagen/FONDOCAFE7.jpg'); /* Fondo que quieres poner */
  background-size: cover; /* Asegura que el fondo cubra todo el contenido */
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 1px; /* Espacio para evitar que quede detrás del navbar */
  padding-bottom: 175px; /* Espacio para evitar que quede detrás del footer */
}

.app-content2 {
  min-height: 100vh;
  background-image: url('./assets/Imagen/FondoAboutus.jpeg'); /* Fondo que quieres poner */
  background-size: cover; /* Asegura que el fondo cubra todo el contenido */
  background-repeat: no-repeat;
  background-color: rgb(1, 1, 1);
  background-position: center;
  padding-top: 1px; /* Espacio para evitar que quede detrás del navbar */
  padding-bottom: 175px; /* Espacio para evitar que quede detrás del footer */
}

header, footer {
  position: relative; /* Asegura que estén por encima del fondo */
  z-index: 10; /* Capa más alta para que no se vean tapados por el fondo */
}


/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/